[Unit]
Description=Publish diary with Hatenikki gem

[Service]
Type=oneshot
User=alarm
Group=users
Environment="RBENV_VERSION=2.7.1"
ExecStart=/home/alarm/.rbenv/bin/rbenv exec hatenikki publish
